.elementor-281 .elementor-element.elementor-element-99f3ba6>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-281 .elementor-element.elementor-element-99f3ba6:not(.elementor-motion-effects-element-type-background), .elementor-281 .elementor-element.elementor-element-99f3ba6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-99f3ba6>.elementor-container {
    min-height: 400px;
}

.elementor-281 .elementor-element.elementor-element-99f3ba6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 50px;
    margin-bottom: 50px;
}

.elementor-281 .elementor-element.elementor-element-99f3ba6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-281 .elementor-element.elementor-element-1c26776>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 16px;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
    color: var(--e-global-color-primary);
}

.elementor-281 .elementor-element.elementor-element-15904d0 {
    text-align: center;
}

.elementor-281 .elementor-element.elementor-element-15904d0 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #333333;
}

.elementor-281 .elementor-element.elementor-element-550adb0.elementor-element {
    --align-self: center;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-menu-item.wpr-pointer-item {
    transition-duration: 0.2s;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-menu-item.wpr-pointer-item .wpr-mega-menu-icon {
    transition-duration: 0.2s;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-menu-item.wpr-pointer-item:before {
    transition-duration: 0.2s;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-menu-item.wpr-pointer-item:after {
    transition-duration: 0.2s;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-toggle-wrap {
    text-align: center;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-nav-menu .wpr-menu-item,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-nav-menu>.menu-item-has-children>.wpr-sub-icon {
    color: #023632;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-nav-menu .wpr-mega-menu-icon {
    color: #333333;
    font-size: 16px;
    margin-right: 5px;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-nav-menu .wpr-menu-item:hover,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-nav-menu .wpr-menu-item:hover .wpr-mega-menu-icon,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-nav-menu .wpr-menu-item.wpr-active-menu-item .wpr-mega-menu-icon,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-nav-menu>.menu-item-has-children:hover>.wpr-sub-icon,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-nav-menu .wpr-menu-item.wpr-active-menu-item,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-nav-menu>.menu-item-has-children.current_page_item>.wpr-sub-icon {
    color: #023632;
}

.elementor-281 .elementor-element.elementor-element-550adb0.wpr-pointer-line-fx .wpr-menu-item:before,
.elementor-281 .elementor-element.elementor-element-550adb0.wpr-pointer-line-fx .wpr-menu-item:after {
    background-color: #023632;
}

.elementor-281 .elementor-element.elementor-element-550adb0.wpr-pointer-border-fx .wpr-menu-item:before {
    border-color: #023632;
}

.elementor-281 .elementor-element.elementor-element-550adb0.wpr-pointer-background-fx .wpr-menu-item:before {
    background-color: #023632;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .menu-item-has-children .wpr-sub-icon {
    font-size: 15px;
}

.elementor-281 .elementor-element.elementor-element-550adb0.wpr-pointer-underline>.wpr-nav-menu-container>ul>li>.wpr-menu-item:after,
.elementor-281 .elementor-element.elementor-element-550adb0.wpr-pointer-overline>.wpr-nav-menu-container>ul>li>.wpr-menu-item:before,
.elementor-281 .elementor-element.elementor-element-550adb0.wpr-pointer-double-line>.wpr-nav-menu-container>ul>li>.wpr-menu-item:before,
.elementor-281 .elementor-element.elementor-element-550adb0.wpr-pointer-double-line>.wpr-nav-menu-container>ul>li>.wpr-menu-item:after {
    height: 2px;
}

.elementor-281 .elementor-element.elementor-element-550adb0.wpr-pointer-border-fx>.wpr-nav-menu-container>ul>li>.wpr-menu-item:before {
    border-width: 2px;
}

.elementor-281 .elementor-element.elementor-element-550adb0.wpr-pointer-underline>.elementor-widget-container>.wpr-nav-menu-container>ul>li>.wpr-menu-item:after,
.elementor-281 .elementor-element.elementor-element-550adb0.wpr-pointer-overline>.elementor-widget-container>.wpr-nav-menu-container>ul>li>.wpr-menu-item:before,
.elementor-281 .elementor-element.elementor-element-550adb0.wpr-pointer-double-line>.elementor-widget-container>.wpr-nav-menu-container>ul>li>.wpr-menu-item:before,
.elementor-281 .elementor-element.elementor-element-550adb0.wpr-pointer-double-line>.elementor-widget-container>.wpr-nav-menu-container>ul>li>.wpr-menu-item:after {
    height: 2px;
}

.elementor-281 .elementor-element.elementor-element-550adb0.wpr-pointer-border-fx>.elementor-widget-container>.wpr-nav-menu-container>ul>li>.wpr-menu-item:before {
    border-width: 2px;
}

.elementor-281 .elementor-element.elementor-element-550adb0:not(.wpr-pointer-border-fx) .wpr-menu-item.wpr-pointer-item:before {
    transform: translateY(-12px);
}

.elementor-281 .elementor-element.elementor-element-550adb0:not(.wpr-pointer-border-fx) .wpr-menu-item.wpr-pointer-item:after {
    transform: translateY(12px);
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-nav-menu .wpr-menu-item {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-nav-menu>.menu-item {
    margin-left: 10px;
    margin-right: 10px;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-nav-menu-vertical .wpr-nav-menu>li>.wpr-sub-menu {
    margin-left: 10px;
    transform: translateX(15px);
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-nav-menu-vertical .wpr-nav-menu>li>.wpr-sub-mega-menu {
    margin-left: 10px;
    transform: translateX(15px);
}

.elementor-281 .elementor-element.elementor-element-550adb0.wpr-main-menu-align-left .wpr-nav-menu-vertical .wpr-nav-menu>li>.wpr-sub-icon {
    right: 10px;
}

.elementor-281 .elementor-element.elementor-element-550adb0.wpr-main-menu-align-right .wpr-nav-menu-vertical .wpr-nav-menu>li>.wpr-sub-icon {
    left: 10px;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-nav-menu-horizontal .wpr-nav-menu .wpr-sub-mega-menu {
    transform: translateY(15px);
}

.elementor-281 .elementor-element.elementor-element-550adb0.wpr-main-menu-align-center .wpr-nav-menu-horizontal .wpr-mega-menu-pos-default.wpr-mega-menu-width-custom .wpr-sub-mega-menu {
    transform: translate(-50%, 15px);
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-nav-menu-horizontal .wpr-nav-menu>li>.wpr-sub-menu {
    transform: translateY(15px);
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-nav-menu .wpr-mega-menu-badge {
    top: -5px;
    padding: 3px 5px 2px 5px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-nav-menu-horizontal .wpr-mega-menu-badge {
    right: 15px;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-nav-menu-vertical .wpr-mega-menu-badge {
    margin-left: 15px;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-sub-mega-menu {
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E8E8E8;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-sub-menu .wpr-sub-menu-item,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-sub-menu>.menu-item-has-children .wpr-sub-icon {
    color: #333333;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-sub-menu .wpr-sub-menu-item {
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-sub-menu .wpr-sub-menu-item:hover,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-sub-menu>.menu-item-has-children .wpr-sub-menu-item:hover .wpr-sub-icon,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-sub-menu .wpr-sub-menu-item.wpr-active-menu-item,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-sub-menu .wpr-sub-menu-item.wpr-active-menu-item .wpr-sub-icon,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-sub-menu>.menu-item-has-children.current_page_item .wpr-sub-icon {
    color: #F9E0A7;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-sub-menu .wpr-sub-menu-item:hover,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-sub-menu .wpr-sub-menu-item.wpr-active-menu-item {
    background-color: #105A5B;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-sub-menu .wpr-sub-icon {
    right: 15px;
}

.elementor-281 .elementor-element.elementor-element-550adb0.wpr-main-menu-align-right .wpr-nav-menu-vertical .wpr-sub-menu .wpr-sub-icon {
    left: 15px;
}

.elementor-281 .elementor-element.elementor-element-550adb0.wpr-sub-divider-yes .wpr-sub-menu li:not(:last-child) {
    border-bottom-color: #e8e8e8;
    border-bottom-width: 1px;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-sub-menu {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E8E8E8;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-toggle {
    border-color: #333333;
    width: 50px;
    border-width: 0px;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-toggle-text {
    color: #333333;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-toggle-line {
    background-color: #333333;
    height: 4px;
    margin-bottom: 6px;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-toggle:hover {
    border-color: #023632;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-toggle:hover .wpr-mobile-toggle-text {
    color: #023632;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-toggle:hover .wpr-mobile-toggle-line {
    background-color: #023632;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-menu-item,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-sub-menu-item,
.elementor-281 .elementor-element.elementor-element-550adb0 .menu-item-has-children>.wpr-mobile-menu-item:after {
    color: #333333;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-nav-menu>li,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-sub-menu li {
    background-color: #ffffff;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-nav-menu li a:hover,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-nav-menu .menu-item-has-children>a:hover:after,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-nav-menu li a.wpr-active-menu-item,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-nav-menu .menu-item-has-children.current_page_item>a:hover:after {
    color: #ffffff;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-menu-item:hover,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-sub-menu-item:hover,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-sub-menu-item.wpr-active-menu-item,
.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-menu-item.wpr-active-menu-item {
    background-color: #F7F0DE;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-menu-item {
    padding-left: 10px;
    padding-right: 10px;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-mega-menu>li>a>.wpr-mobile-sub-icon {
    padding: 10px;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-nav-menu .wpr-mobile-menu-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-281 .elementor-element.elementor-element-550adb0.wpr-mobile-divider-yes .wpr-mobile-menu-item {
    border-bottom-color: #e8e8e8;
    border-bottom-width: 1px;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-mega-menu .wpr-mobile-sub-icon {
    font-size: 14px;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-nav-menu .wpr-mobile-sub-menu-item {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.elementor-281 .elementor-element.elementor-element-550adb0 .wpr-menu-offcanvas-back {
    padding-left: 10px;
    padding-right: 10px;
}

.elementor-281 .elementor-element.elementor-element-550adb0.wpr-mobile-menu-display-dropdown .wpr-mobile-nav-menu {
    margin-top: 10px;
}

.elementor-281 .elementor-element.elementor-element-885d338>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 16px;
}

.elementor-281 .elementor-element.elementor-element-7101b14 {
    text-align: center;
}

.elementor-281 .elementor-element.elementor-element-7101b14 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #023632;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var(--e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var(--e-global-color-secondary);
}

.elementor-281 .elementor-element.elementor-element-e6e3a07.elementor-element {
    --align-self: center;
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-281 .elementor-element.elementor-element-e6e3a07 .elementor-icon-list-icon i {
    color: #023632;
    transition: color 0.3s;
}

.elementor-281 .elementor-element.elementor-element-e6e3a07 .elementor-icon-list-icon svg {
    fill: #023632;
    transition: fill 0.3s;
}

.elementor-281 .elementor-element.elementor-element-e6e3a07 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-281 .elementor-element.elementor-element-e6e3a07 .elementor-icon-list-text {
    color: #105A5B;
    transition: color 0.3s;
}

.elementor-281 .elementor-element.elementor-element-eadec46>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 16px;
}

.elementor-281 .elementor-element.elementor-element-e914ebf {
    text-align: center;
}

.elementor-281 .elementor-element.elementor-element-e914ebf .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #023632;
}

.elementor-281 .elementor-element.elementor-element-246ffa3 {
    text-align: center;
}

.elementor-281 .elementor-element.elementor-element-246ffa3 .elementor-heading-title {
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #105A5B;
}

.elementor-281 .elementor-element.elementor-element-cc52059 {
    text-align: center;
}

.elementor-281 .elementor-element.elementor-element-cc52059 .elementor-heading-title {
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #105A5B;
}

.elementor-281 .elementor-element.elementor-element-f5733fe {
    text-align: center;
}

.elementor-281 .elementor-element.elementor-element-f5733fe .elementor-heading-title {
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #105A5B;
}

.elementor-281 .elementor-element.elementor-element-fb7f8b6 {
    text-align: center;
}

.elementor-281 .elementor-element.elementor-element-fb7f8b6 .elementor-heading-title {
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #105A5B;
}

.elementor-281 .elementor-element.elementor-element-f2609bd {
    text-align: center;
}

.elementor-281 .elementor-element.elementor-element-f2609bd .elementor-heading-title {
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #105A5B;
}

.elementor-281 .elementor-element.elementor-element-8e1c80c {
    text-align: center;
}

.elementor-281 .elementor-element.elementor-element-8e1c80c .elementor-heading-title {
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #105A5B;
}

.elementor-281 .elementor-element.elementor-element-140c79f {
    text-align: center;
}

.elementor-281 .elementor-element.elementor-element-140c79f .elementor-heading-title {
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #105A5B;
}

.elementor-281 .elementor-element.elementor-element-c457203 {
    text-align: center;
}

.elementor-281 .elementor-element.elementor-element-c457203 .elementor-heading-title {
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #105A5B;
}

.elementor-281 .elementor-element.elementor-element-67bab99>.elementor-element-populated {
    margin: 0px 35px 0px 0px;
    --e-column-margin-right: 35px;
    --e-column-margin-left: 0px;
}

.elementor-281 .elementor-element.elementor-element-12b2e3d>.elementor-widget-container {
    margin: 0px 0px -9px 0px;
}

.elementor-281 .elementor-element.elementor-element-12b2e3d.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-281 .elementor-element.elementor-element-12b2e3d {
    text-align: center;
}

.elementor-281 .elementor-element.elementor-element-12b2e3d .wpr-logo {
    padding: 0px 0px 0px 0px;
    border-style: none;
    border-radius: 0px 0px 0px 0px;
}

.elementor-281 .elementor-element.elementor-element-12b2e3d .wpr-logo-image {
    max-width: 70px;
}

.elementor-281 .elementor-element.elementor-element-12b2e3d.wpr-logo-position-left .wpr-logo-image {
    margin-right: 0px;
}

.elementor-281 .elementor-element.elementor-element-12b2e3d.wpr-logo-position-right .wpr-logo-image {
    margin-left: 0px;
}

.elementor-281 .elementor-element.elementor-element-12b2e3d.wpr-logo-position-center .wpr-logo-image {
    margin-bottom: 0px;
}

.elementor-281 .elementor-element.elementor-element-12b2e3d .wpr-logo-image img {
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.elementor-281 .elementor-element.elementor-element-12b2e3d .wpr-logo-title {
    color: #605BE5;
    margin: 0 0 0px;
}

.elementor-281 .elementor-element.elementor-element-12b2e3d .wpr-logo-description {
    color: #888888;
}

.elementor-281 .elementor-element.elementor-element-5cff325 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(13px/2);
}

.elementor-281 .elementor-element.elementor-element-5cff325 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(13px/2);
}

.elementor-281 .elementor-element.elementor-element-5cff325 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-inline: calc(13px/2);
}

.elementor-281 .elementor-element.elementor-element-5cff325 .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-13px/2);
}

.elementor-281 .elementor-element.elementor-element-5cff325 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    inset-inline-end: calc(-13px/2);
}

.elementor-281 .elementor-element.elementor-element-5cff325 .elementor-icon-list-icon i {
    color: #023632;
    transition: color 0.3s;
}

.elementor-281 .elementor-element.elementor-element-5cff325 .elementor-icon-list-icon svg {
    fill: #023632;
    transition: fill 0.3s;
}

.elementor-281 .elementor-element.elementor-element-5cff325 {
    --e-icon-list-icon-size: 17px;
    --icon-vertical-offset: 0px;
}

.elementor-281 .elementor-element.elementor-element-5cff325 .elementor-icon-list-item>.elementor-icon-list-text, .elementor-281 .elementor-element.elementor-element-5cff325 .elementor-icon-list-item>a {
    font-family: "Ramabhadra", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-281 .elementor-element.elementor-element-5cff325 .elementor-icon-list-text {
    color: #105A5B;
    transition: color 0.3s;
}

.elementor-281 .elementor-element.elementor-element-ed1e5ea:not(.elementor-motion-effects-element-type-background), .elementor-281 .elementor-element.elementor-element-ed1e5ea>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-281 .elementor-element.elementor-element-ed1e5ea {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 20px;
}

.elementor-281 .elementor-element.elementor-element-ed1e5ea>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-divider {
    --divider-color: var(--e-global-color-secondary);
}

.elementor-widget-divider .elementor-divider__text {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-secondary-font-weight);
}

.elementor-widget-divider.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-281 .elementor-element.elementor-element-78ecef0 {
    --divider-border-style: solid;
    --divider-color: #E4E4E4;
    --divider-border-width: 1px;
}

.elementor-281 .elementor-element.elementor-element-78ecef0 .elementor-divider-separator {
    width: 100%;
}

.elementor-281 .elementor-element.elementor-element-78ecef0 .elementor-divider {
    padding-block-start: 2px;
    padding-block-end: 2px;
}

.elementor-widget-text-editor {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    color: var(--e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-281 .elementor-element.elementor-element-167b20f {
    text-align: center;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #023632;
}

body.elementor-page-281:not(.elementor-motion-effects-element-type-background), body.elementor-page-281>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #BFBFBF;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-281 .elementor-element.elementor-element-1c26776 {
        width: 25%;
    }

    .elementor-281 .elementor-element.elementor-element-885d338 {
        width: 25%;
    }

    .elementor-281 .elementor-element.elementor-element-eadec46 {
        width: 25%;
    }

    .elementor-281 .elementor-element.elementor-element-67bab99 {
        width: 25%;
    }
}

@media(max-width:1366px) {
    .elementor-281 .elementor-element.elementor-element-99f3ba6 {
        padding: 0px 20px 0px 20px;
    }

    .elementor-281 .elementor-element.elementor-element-550adb0 {
        width: var(--container-widget-width, 225.823px);
        max-width: 225.823px;
        --container-widget-width: 225.823px;
        --container-widget-flex-grow: 0;
    }

    .elementor-281 .elementor-element.elementor-element-12b2e3d {
        width: var(--container-widget-width, 260.292px);
        max-width: 260.292px;
        --container-widget-width: 260.292px;
        --container-widget-flex-grow: 0;
    }

    .elementor-281 .elementor-element.elementor-element-ed1e5ea {
        padding: 0px 20px 0px 20px;
    }
}

@media(max-width:1024px) {
    .elementor-281 .elementor-element.elementor-element-550adb0 .wpr-mobile-toggle-wrap {
        text-align: center;
    }

    .elementor-281 .elementor-element.elementor-element-12b2e3d {
        width: var(--container-widget-width, 166.292px);
        max-width: 166.292px;
        --container-widget-width: 166.292px;
        --container-widget-flex-grow: 0;
    }

    .elementor-281 .elementor-element.elementor-element-167b20f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-281 .elementor-element.elementor-element-167b20f {
        font-size: 13px;
    }
}

@media(max-width:767px) {
    .elementor-281 .elementor-element.elementor-element-1c26776 {
        width: 100%;
    }

    .elementor-281 .elementor-element.elementor-element-15904d0.elementor-element {
        --align-self: center;
        --flex-grow: 0;
        --flex-shrink: 1;
    }

    .elementor-281 .elementor-element.elementor-element-15904d0 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-281 .elementor-element.elementor-element-550adb0 {
        width: var(--container-widget-width, 350px);
        max-width: 350px;
        --container-widget-width: 350px;
        --container-widget-flex-grow: 0;
    }

    .elementor-281 .elementor-element.elementor-element-885d338 {
        width: 100%;
    }

    .elementor-281 .elementor-element.elementor-element-885d338.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }

    .elementor-281 .elementor-element.elementor-element-885d338>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 20px;
    }

    .elementor-281 .elementor-element.elementor-element-7101b14 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-281 .elementor-element.elementor-element-e6e3a07 {
        width: var(--container-widget-width, 325px);
        max-width: 325px;
        --container-widget-width: 325px;
        --container-widget-flex-grow: 0;
        --e-icon-list-icon-align: center;
        --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
        --icon-vertical-align: center;
        --icon-vertical-offset: 1px;
    }

    .elementor-281 .elementor-element.elementor-element-eadec46 {
        width: 100%;
    }

    .elementor-281 .elementor-element.elementor-element-e914ebf .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-281 .elementor-element.elementor-element-246ffa3 .elementor-heading-title {
        font-size: 18px;
    }

    .elementor-281 .elementor-element.elementor-element-cc52059 .elementor-heading-title {
        font-size: 18px;
    }

    .elementor-281 .elementor-element.elementor-element-f5733fe .elementor-heading-title {
        font-size: 18px;
    }

    .elementor-281 .elementor-element.elementor-element-fb7f8b6 .elementor-heading-title {
        font-size: 18px;
    }

    .elementor-281 .elementor-element.elementor-element-f2609bd .elementor-heading-title {
        font-size: 18px;
    }

    .elementor-281 .elementor-element.elementor-element-8e1c80c .elementor-heading-title {
        font-size: 18px;
    }

    .elementor-281 .elementor-element.elementor-element-140c79f .elementor-heading-title {
        font-size: 18px;
    }

    .elementor-281 .elementor-element.elementor-element-c457203 .elementor-heading-title {
        font-size: 18px;
    }

    .elementor-281 .elementor-element.elementor-element-67bab99 {
        width: 100%;
    }

    .elementor-281 .elementor-element.elementor-element-67bab99>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 20px;
    }

    .elementor-281 .elementor-element.elementor-element-12b2e3d {
        width: var(--container-widget-width, 340px);
        max-width: 340px;
        --container-widget-width: 340px;
        --container-widget-flex-grow: 0;
    }

    .elementor-281 .elementor-element.elementor-element-12b2e3d .wpr-logo-image {
        max-width: 160px;
    }

    .elementor-281 .elementor-element.elementor-element-5cff325 {
        --e-icon-list-icon-size: 15px;
    }

    .elementor-281 .elementor-element.elementor-element-5cff325 .elementor-icon-list-item>.elementor-icon-list-text, .elementor-281 .elementor-element.elementor-element-5cff325 .elementor-icon-list-item>a {
        font-size: 15px;
    }

    .elementor-281 .elementor-element.elementor-element-167b20f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-281 .elementor-element.elementor-element-167b20f {
        text-align: center;
    }
}